body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
  line-height: 1.6;
}

/*main, section, .content {
  max-width: 1200px;  /* ou 1000px au lieu de 800px */
  /*margin: 0 auto;
  padding: 20px;
} */

nav {
  background: #b30000; /* rouge */
  padding: 12px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 40px;
  max-width: 900px;
  margin: auto;
}

h1, h2 {
  color: #b30000; /* titres en rouge */
}
